<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <h2>Add New User</h2>
    <form action="/admin/user_admin" method="post">
        <label>User ID:</label><br>
        <input type="text" placeholder="User ID" name="username"><br>
        <label>Language:</label><br>
        <input type="text" placeholder="Language" name="language"><br>
        <label>Gender:</label><br>
        <input type="text" placeholder="Gender" name="gender"><br>
        <label>Country:</label><br>
        <input type="text" placeholder="Country" name="country"><br>
        <label>Region:</label><br>
        <input type="text" placeholder="Region" name="region"><br>
        <label>Birth Year:</label><br>
        <input type="text" placeholder="Birth Year" name="birth_year"><br>
        <label>Income Level:</label><br>
        <input type="text" placeholder="Income Level" name="income_under"><br>
        <label>Family Status:</label><br>
        <input type="text" placeholder="Family Status" name="family_status"><br>
        <label>Religion:</label><br>
        <input type="text" placeholder="Religion" name="religion"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>