<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <h2>Add New Restaurant</h2>
    <form action="/admin/restaurant_admin" method="post">
        <label>Restaurant ID:</label><br>
        <input type="text" placeholder="Restaurant ID" name="restaurant_id"><br>
        <label>Restaurant Name:</label><br>
        <input type="text" placeholder="Restaurant Name" name="restaurant_name"><br>
        <label>Restaurant City:</label><br>
        <input type="text" placeholder="Restaurant City" name="restaurant_city"><br>
        <label>Restaurant Initial Rating:</label><br>
        <input type="text" placeholder="Restaurant Initial Rating:" name="restaurant_init_rating"><br>
        <label>Restaurant Rating:</label><br>
        <input type="text" placeholder="Restaurant Rating" name="restaurant_rating"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>